@{
    ViewData["Title"] = "Error";
}

<div class="text-center mt-3">
	<p class="text-danger">An error occurred while processing your request.</p>
</div>
<div class="text-center mb-5">  Go back to <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home Page</a></div>
