@model WishlistViewModel

<div class="hero-wrap hero-bread" style="background-image: url('https://pbs.twimg.com/media/D7vU-BDVUAAWHgM?format=jpg&name=medium');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">My Wishlist</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <form method="post" action="/Wishlist/Remove" class="wishlist-form">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>Product List</th>
                                    <th>&nbsp;</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr class="text-center">
                                        <td class="product-remove">
                                            <button type="submit" name="productId" value="@product.Id" class="btn btn-link"><span class="ion-ios-close"></span></button>
                                            <input type="hidden" name="wishlistId" value="@Model.ApplicationUser.WishListId" /> <!-- Add this line to include the wishlist ID -->
                                        </td>
                                        <td class="image-prod"><div class="img" style="background-image:url(@product.ImageUrl);"></div></td>
                                        <td class="product-name">
                                            <h3>@product.Name</h3>
                                        </td>
                                        <td class="price">$@product.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
