<h3 class="order-done">Thank you for your order!</h3>
<p class="order-done">
	Thank you for choosing OnlineGroceryHub. Your order has been successfully placed and is now being processed. We appreciate your business and look forward to serving you again in the future.

	If you have any questions or concerns regarding your order, feel free to contact our customer support team. We're here to help!
</p>