@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}

@if (User.IsInRole("User"))
{
    <h3 class="orders">@ViewData["Title"]</h3>

    @if (Model.Orders != null && Model.Orders.Any())
    {
        @foreach (var orderGroup in Model.Orders.GroupBy(o => o.Id))
        {
            var order = orderGroup.First();
            <table class="order">
                <thead class="order">
                    <tr class="order">
                        <th class="order" colspan="2">Order ID: @order.Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productOrder in order.ProductsOrders)
                    {
                        <tr class="order">
                            <td class="order">@productOrder.Product.Name</td>
                            <td class="order-amount">@productOrder.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <p>No orders found.</p>
    }
}