button.btn.btn-primary.nav-logout-btn {
    margin: 18px;
}

.product.pr-content{
    height: 360px;
}

.img-prod{
    padding: 20px;
}

.search, .sort, .filter {
    display: flex;
    margin-top: 30px;
}

.row.justify-content-center.search-sort-filter {
    margin-top: 20px;
}

p.text-left.mr-3 {
    font-size: 13px;
}

.without-discount {
    text-decoration-line: line-through;
}

.real-price {
    color: #82ae46 !important;
}

.select-filter {
    display: flex;
}

p.article-content {
    max-width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.nav-link.text-dark {
    max-width: 153px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.products-filters{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.row.justify-content-sm-evenly, input.form-control.form-control-sm.mr-sm-2, button.btn.btn-primary, select.form-control, .filter-content.ml-4.mr-4 {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.row.justify-content-center, input.form-control.form-control-sm.mr-sm-2, select.form-control, .filter-content.ml-4.mr-4 {
    color: black;
}

.select-filter{
    margin: 5px 0;
}

label{
    margin-left: 10px;
}

button.btn.btn-primary.filter{
    margin-top: 0px;
}

label.sort-label{
    margin-right: 10px;
}

.blog-entry.align-self-stretch.d-md-flex{
    width: 100%;
}

.col-md-4{
    margin-bottom: 20px;
}

h2.mb-3{
    text-align: center;
}

button.add-to-wishlist.d-flex.justify-content-center.align-items-center.text-center{
    border: none;
}

.checkbox-filters{
    display: flex;

}

.filter-content.ml-4.mr-4 p {
    text-align: center;
}

.select-filter label {
    margin-right: 20px;
    margin-left: 5px;
}

.cart-list{
    text-align: center;
}

.add-products{
    margin-bottom: 60px;
}

.free-delivery {
    color: #82ae46;
}

button.buy-now.d-flex.justify-content-center.align-items-center.mx-1{
    border: none;
}

.row.log-reg{
    width: 100%;
    justify-content: center;
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: center;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    text-align: center;
}

input#Input_Email {
    font-size: 0.9rem;
    letter-spacing: 2px;
    padding: 0 0 0 1rem;
}

input#Input_Password {
    padding: 0 0 0 1rem;
}

.form-floating{
    margin-bottom: 15px;
}

.new-user {
    letter-spacing: 2px;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 15px;
}

.paragraph {
    text-align: justify;
}

.btn.btn-primary.add-to-cart {
    border-radius: 50px;
    background-color: #82ae46 !important;
}

.btn.btn-primary.add-to-cart:hover {
    border-radius: 50px;
    background-color: white !important;
    color: #82ae46;
    border: 1px solid #82ae46 !important;
}

.names{
    font-size: 15px;
    display: flex;
}

.names input, .reg-input input, .log-input input{
    letter-spacing: 2px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

button.product-remove {
    color: white;
    background-color: #82ae46;
}

button.product-remove:hover {
    color: #82ae46;
    background-color: white;
    border: 1px solid #82ae46;
}

h3.order-done {
    text-align: center;
    font-size: 18px;
    padding-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p.order-done {
    text-align: justify;
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 250px;
    padding-right: 250px;
    letter-spacing: 2px;
}