.nav-logout-btn.nav-logout-btn {
    margin: 10px 18px;
    padding: 13px 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;
    background-color: #82ae46;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.product.pr-content{
    height: 360px;
}

.img-prod{
    padding: 20px;
}

.search, .sort, .filter {
    display: flex;
    margin-top: 30px;
}

.row.justify-content-center.search-sort-filter {
    margin-top: 20px;
}

p.text-left.mr-3 {
    font-size: 13px;
}

.without-discount {
    text-decoration-line: line-through;
}

.real-price {
    color: #82ae46 !important;
}

.select-filter {
    display: flex;
}